body {
	margin: 0;
	padding: 0;
}

#quests {
	grid-area: quests;
}

.quest-item:hover {
	background-color: yellow;
	cursor: pointer;
}

.quest-item > p {
	margin: 0;
}

#explo {
	grid-area: explo;
}

#battle {
	grid-area: battle;
	
}

#debug {
	grid-area: debug;
}

#game {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 30vh 30vh 30vh 10vh;
	grid-template-areas: 
		"quests explo explo"
		"quests battle battle"
		"quests battle battle"
		"debug debug debug"

}

.progress {
	height: 20px;
	width: 200px;
	background-color: grey;
}

.progress-current {
	background-color: red;
	height: inherit;
}

.battle-stats {
	display: flex;
}

.battle-fighter {
	margin-right: 20px; 
}

.lifebar {
	background-color: green;
}